{
  "runCount_h": 1,
  "modPathMap": {
    "SSW": "/Users/eightman/Documents/Paradox Interactive/Hearts of Iron IV/mod/SSW_mod",
    "vanira": "/Users/eightman/Library/Application Support/Steam/steamapps/common/Hearts of Iron IV"
  },
  "lang": "日本語",
  "runCount": 139,
  "font": ".AppleSystemUIFont"
}